.contenedorpadre{
  padding: 3%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  background: -webkit-linear-gradient(left, #78522B 10%, #DCAE23 90%);
  background: -o-linear-gradient(left, #78522B 10%, #DCAE23 90%);
  background: linear-gradient(to right, #78522B 10%, #DCAE23 90%);
  box-shadow: 15px 10px 5px rgba(0, 0, 0, 0.2);
}
.tablaencabezado
{
  align-items: center;
  justify-content: center;
  box-shadow: 15px 10px 5px rgba(0, 0, 0, 0.2);
}
.img
{
  max-height: 120px;
  max-width: 120px;
}
.img a:hover{
  background-color:bisque;
  color: black;
}
.titulo
{
  align-items: center;
  font-family: 'BE MARKER Ink', arial;
  border: 1px dotted #ff8833;
  border-color: black;
  text-align: center;
  min-width: 30vw;
  text-shadow: 5px 5px 5px #000000;
  box-shadow: 15px 10px 5px #987846;
}
.titulo2
{
  font-family: '20 CENTS MARKER Bold', arial;
  color: black;
  text-align:center;
  text-shadow: 8px 8px 8px #000000;
}
.titulo3
{
  font-family: '20 CENTS MARKER Bold', arial;
  color: black;
  text-align: left;
  text-shadow: 10px 10px 10px #000000;
}
.bordes {
  padding: 3px 10px;
  border: #AF793D; 5px double;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.contenedorelementos
{
  display: flex;
  align-items: center;
}
.tabla
{
flex-direction: column;
align-items: center;
display:table;
background-color: #78522B;
border:1px;
box-shadow: 15px 10px 5px rgba(0, 0, 0, 0.2);
}

.contenedorpequeño {
  flex: 30%;
  flex-direction: row;
  padding: 20px;
}
.contenedorgrande {
  flex: 70%;
  flex-direction: row;
  padding: 20px;

}
