body{
    margin: 0px;
}

main{
    min-height: 100vh;
	max-width: 100vw;
}
/* Header*/
header {
  background-image: url(../sources/img/fondoheader.jpg);
  color: white;
  height: 25vh;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
/*

hay que modificiar la altura de la imagen

.logo {
  background: rgba(255, 255, 255, 0.3);
  height: 20vh;

}*/

.contenedorpadre{
  display: flex;
  background: -webkit-linear-gradient(left, #78522B 10%, #DCAE23 90%);
  background: -o-linear-gradient(left, #78522B 10%, #DCAE23 90%);
  background: linear-gradient(to right, #78522B 10%, #DCAE23 90%);
}
.navIndex{
  background-size: 100%;
  padding: 10px;
  background: -webkit-linear-gradient(left, #78522B 10%, #DCAE23 90%);
  background: -o-linear-gradient(left, #78522B 10%, #DCAE23 90%);
  background: linear-gradient(to right, #78522B 10%, #DCAE23 90%);
  width: 40%;
  align-items: center;
  opacity: 0.85;

}
.navIndex a {
  color: white;
  padding: 14px 20px;
  text-decoration: underline;
  text-align: center;
}


.navIndex a:hover {
  background-color:#AF793D;
  color: black;
}
footer {
  text-align: right;
  background: #ddd;
}

nav {
    width: 100vw;
    height: 10vh;
    margin: 0px;
    background: rgb(255, 0, 0);
}
